*,
*::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: inherit;
}

.wrapper {
  border: 2px solid #000;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 70wv;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    border: 1px solid red;

    .container-title {
      font-size: 30px;
    }

    .clock-wrapper {
      padding: 20px;
      height: auto;
      border: 2px solid green;
      display: flex;
      justify-content: center;

      .clock {
        margin: 30px;
        width: 400px;
        height: 400px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;

        .hand {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform-origin: top;
          border-radius: 50%;
          border: 1px solid black;
        }

        &__hours-hand {
          width: 10px;
          height: 100px;
          background-color: red;
          transform: rotate(180deg);
        }

        &__minutes-hand {
          width: 7px;
          height: 135px;
          background-color: green;
          transform: rotate(180deg);
        }

        &__seconds-hand {
          width: 3px;
          height: 140px;
          background-color: blue;
          transform: rotate(180deg);
        }

        &__digit {
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          font-size: 25px;
        }

        &__digit:nth-child(1) {
          top: 15%;
          right: 22%;
        }

        &__digit:nth-child(2) {
          top: 30%;
          right: 9%;
        }

        &__digit:nth-child(3) {
          top: 50%;
          left: 95%;
        }

        &__digit:nth-child(4) {
          top: 70%;
          right: 9%;
        }

        &__digit:nth-child(5) {
          top: 85%;
          right: 22%;
        }

        &__digit:nth-child(6) {
          top: 95%;
          left: 50%;
        }

        &__digit:nth-child(7) {
          top: 85%;
          left: 22%;
        }

        &__digit:nth-child(8) {
          top: 70%;
          left: 9%;
        }

        &__digit:nth-child(9) {
          top: 50%;
          left: 5%;
        }

        &__digit:nth-child(10) {
          top: 30%;
          left: 9%;
        }

        &__digit:nth-child(11) {
          top: 15%;
          left: 22%;
        }

        &__digit:nth-child(12) {
          top: 5%;
          left: 50%;
        }
      }
    }

    .switcher {
      margin: 30px 0;

      &__button {
        padding: 8px 15px;
      }
    }
  }
}
